

<mat-drawer-container class="app-sidenav-container" autosize>
  <mat-drawer #drawer class="app-sidenav" mode="side"
    [opened]= "!isScreenSmall"
    [mode]= "isScreenSmall ? 'over': 'side' ">
    <mat-toolbar color="primary">Contacts</mat-toolbar>


    <mat-nav-list>
      <!-- async pipe is nedded whenever we are dealing with obervable variables. -->
      <mat-list-item *ngFor="let user of users | async">
        <!-- Added router link which route to contact manager but with userID -->
         <a matLine [routerLink]="['/contactmanager', user.id ]">
            <mat-icon svgIcon="{{ user.avatar }}" > </mat-icon>
            {{ user.name }}
        </a>
      </mat-list-item>
    </mat-nav-list>

  </mat-drawer>

  <div class="app-sidenav-content">
    <app-toolbar (toggleSideNav)="drawer.toggle()"></app-toolbar>

    <!-- Adding wrapper to add margin to whole router outlet content -->
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>
